<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.josam.clink.user.UserMapper">
<!-- 로컬 테스트용 
	<insert id="insert" parameterType="com.josam.clink.user.UserVO">
		INSERT INTO user (
			`userId`, `userName`, `nickname`, `pwd`, `email`, 
			`phoneNumber`, `photoUrl`, `userStatus`, `userSocial`, `userAccessToken`, `userUpdateToken`
		) VALUES (
			#{userId}, #{userName}, #{nickname}, MD5(#{pwd}),#{email}, #{phoneNumber},
			#{photoUrl}, #{userStatus}, #{userSocial}, #{userAccessToken}, #{userUpdateToken}
		)
		<selectKey keyProperty="userNo" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
  
  	<select id="login" parameterType="com.josam.clink.user.UserVO" resultType="com.josam.clink.user.UserVO">
		SELECT * FROM user WHERE userId = #{userId} AND pwd=MD5(#{pwd});
	</select>
	
	<select id="checkDuplicateId" resultType="INTEGER">
		select count(*) from user where userId =#{userId}
	</select>
	
	 <select id="selectUserById" parameterType="int" resultType="com.josam.clink.user.UserVO">
        SELECT * FROM user WHERE userId = #{userId}
    </select>
-->
	
<!-- 원본!!-->
	<insert id="insert" parameterType="com.josam.clink.user.UserVO">
		INSERT INTO User (
			`userId`, `userName`, `nickname`, `pwd`, `email`, 
			`phoneNumber`, `photoUrl`, `userStatus`, `userSocial`, `userAccessToken`, `userUpdateToken`
		) VALUES (
			#{userId}, #{userName}, #{nickname}, MD5(#{pwd}),   #{email}, #{phoneNumber},
			#{photoUrl}, #{userStatus}, #{userSocial}, #{userAccessToken}, #{userUpdateToken}
		)
			<selectKey keyProperty="userNo" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
  
  	<select id="login" parameterType="com.josam.clink.user.UserVO" resultType="com.josam.clink.user.UserVO">
		SELECT * FROM User WHERE userId = #{userId} AND pwd=MD5(#{pwd});
	</select>
	
	<select id="checkDuplicateId" resultType="INTEGER">
		select count(*) from User where userId =#{userId}
	</select>
	
	 <select id="selectUserById" parameterType="INTEGER" resultType="com.josam.clink.user.UserVO">
        SELECT * FROM User WHERE userId = #{userId}
    </select>
    
    <update id="update" parameterType="com.josam.clink.user.UserVO"  >
    update User set userName= #{userName}, nickname= #{nickname},  pwd= #{pwd} where userNo = #{userNo}
    </update>
</mapper>

