<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.josam.clink.user.UserMapper">
	<!-- 원본!! -->
	<insert id="insert"
		parameterType="com.josam.clink.user.User_MasterVO">
		INSERT INTO User_Master (`user_no`,
		`user_id`, `user_name`,
		`nick_name`,
		`password`, `email`,
		`phone_number`, `photo_url`,
		`user_status_yn`,
		`register_datetime`, `register_id`,`update_datetime`,
		`updater_id`
		)
		VALUES ('00003',
		#{user_id}, #{user_name}, #{nick_name},
		#{password},
		#{email}, #{phone_number},
		#{photo_url}, #{user_status_yn},
		#{register_datetime}, #{register_id},#{update_datetime},#{updater_id}
		)
		<!-- <selectKey keyProperty="user_no" order="AFTER" resultType="int"> SELECT 
			LAST_INSERT_ID() </selectKey> -->
	</insert>

	<select id="login"
		parameterType="com.josam.clink.user.User_MasterVO"
		resultType="com.josam.clink.user.User_MasterVO">
		SELECT * FROM User_Master WHERE user_id = #{user_id}
	</select>

	<select id="checkDuplicateId" resultType="INTEGER">
		select count(*) from
		User_Master where user_id =#{user_id}
	</select>
	
	<select id="checkDuplicateEmail" resultType="boolean">
		select count(*) from
		User_Master where email =#{email}
	</select>

	<!-- 프로필 사진 업로드 -->
	<update id="profileImage"
		parameterType="com.josam.clink.user.User_MasterVO">
		UPDATE User_Master
		SET photo_url = #{photo_url}
		WHERE
		user_no = #{user_no}
	</update>

	<update id="update"
		parameterType="com.josam.clink.user.User_MasterVO">
		UPDATE User_Master
		<set>
			<if test="user_name != null and user_name != ''">
				user_name = #{user_name},
			</if>
			<if test="nick_name != null and nick_name != ''">
				nick_name = #{nick_name},
			</if>
			<if test="password != null and password != ''">
				password = #{password},
			</if>
		</set>
		WHERE user_no =#{user_no}
	</update>

	<insert id="registAccount"
		parameterType="com.josam.clink.user.Account_DetailVO">
		INSERT INTO Account_Detail (
		`user_no`, `account_no`,
		`account_balance`, `account_code`, `bank_code`
		) VALUES (
		#{user_no},
		#{account_no}, #{account_balance}, #{account_code}, #{bank_code}
		)
	</insert>

	<update id="updateAccount"
		parameterType="com.josam.clink.user.Account_DetailVO">
		UPDATE Account_Detail
		<set>
			<if test="account_no != null and account_no != ''">
				account_no = #{account_no},
			</if>
			<if test="bank_code != null and bank_code != ''">
				bank_code = #{bank_code},
			</if>
		</set>
		WHERE user_no =#{user_no}
		AND account_code=#{account_code}
	</update>

	<select id="checkAccount"
		parameterType="com.josam.clink.user.Account_DetailVO"
		resultType="com.josam.clink.user.Account_DetailVO">
		SELECT * FROM Account_Detail WHERE user_no = #{user_no};
	</select>
	
	<select id="selectUserById" parameterType="INTEGER"
		resultType="com.josam.clink.user.User_MasterVO">
		SELECT * FROM User_Master WHERE user_id = #{user_id}
	</select>

	<!-- 토큰용 -->
	
	<select id="findById" parameterType="String"
		resultType="com.josam.clink.user.User_MasterVO">
		SELECT * FROM User_Master WHERE user_id = #{user_id}
	</select>

	<!-- 로컬 테스트용 <insert id="insert" parameterType="com.josam.clink.user.UserVO"> 
		INSERT INTO user ( `userId`, `userName`, `nickname`, `pwd`, `email`, `phoneNumber`, 
		`photoUrl`, `userStatus`, `userSocial`, `userAccessToken`, `userUpdateToken` 
		) VALUES ( #{userId}, #{userName}, #{nickname}, MD5(#{pwd}),#{email}, #{phoneNumber}, 
		#{photoUrl}, #{userStatus}, #{userSocial}, #{userAccessToken}, #{userUpdateToken} 
		) <selectKey keyProperty="userNo" order="AFTER" resultType="int"> SELECT 
		LAST_INSERT_ID() </selectKey> </insert> <select id="login" parameterType="com.josam.clink.user.UserVO" 
		resultType="com.josam.clink.user.UserVO"> SELECT * FROM user WHERE userId 
		= #{userId} AND pwd=MD5(#{pwd}); </select> <select id="checkDuplicateId" 
		resultType="INTEGER"> select count(*) from user where userId =#{userId} </select> 
		<select id="selectUserById" parameterType="int" resultType="com.josam.clink.user.UserVO"> 
		SELECT * FROM user WHERE userId = #{userId} </select> -->
</mapper>

