<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.josam.clink.board.BoardMapper">
	<select id="getCategoryPosts" resultType="com.josam.clink.board.BoardVO">
		SELECT boardNo, boardTitle, boardContent, boardDate, boardWriter, boardLikes FROM Board WHERE boardCategoryNo=#{categoryNo} ORDER BY boardDate DESC;
	</select>
	
	<select id="getPost" parameterType="INTEGER" resultType="com.josam.clink.board.BoardVO">
		SELECT boardNo, boardTitle, boardContent, boardDate, boardWriter, boardLikes FROM Board WHERE boardNo=#{boardNo} ORDER BY boardDate DESC;
	</select>
	
	<select id="getPostsComment" parameterType="INTEGER" resultType="com.josam.clink.board.CommentVO">
		SELECT * FROM Comment WHERE boardNo=#{boardNo} ORDER BY commentDate ASC;
	</select>

	<select id="getCategoryPostsbyLikes" resultType="com.josam.clink.board.BoardVO">
		SELECT boardNo, boardTitle, boardContent, boardDate, boardWriter, boardLikes FROM Board WHERE boardCategoryNo=#{categoryNo} ORDER BY boardLikes DESC;
	</select>
	<insert id="insertComment" parameterType="com.josam.clink.board.CommentVO" useGeneratedKeys="true" keyProperty="commentId">
		INSERT INTO Comment 
				(boardNo, commentWriter, commentDate, commentContent)
		values(#{boardNo}, #{commentWriter}, now(), #{commentContent})
	</insert>
</mapper>
