<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.josam.clink.communityManager.CommunityManagerMapper">
	<insert id="insertComment" parameterType="com.josam.clink.communityPost.CommunityPostVO" useGeneratedKeys="true" keyProperty="commentId">
		INSERT INTO Comment_Detail 
				(board_no, register_id, register_datetime, comment_content, parent_id)
		values(#{board_no}, #{register_id}, now(), #{comment_content}, #{parent_id})
	</insert>
	<select id="getPost" parameterType="INTEGER" resultType="com.josam.clink.communityPost.CommunityPostVO">
		SELECT boardNo, boardTitle, boardContent, boardDate, boardWriter, boardLikes FROM Board WHERE boardNo=#{boardNo} ORDER BY boardDate DESC;
	</select>
	
	<select id="getComment" parameterType="INTEGER" resultType="com.josam.clink.communityManager.CommentVO">
		SELECT * FROM Comment_Detail WHERE board_no=#{board_no} ORDER BY register_datetime ASC;
	</select>
	<insert id="insertPost" parameterType="com.josam.clink.communityPost.CommunityPostVO">
		insert into Board_Detail values("0","0",#{category_no},0,#{board_title},#{board_content},0,"안녕",now(),"test1",now(),"test1");
	</insert>
	<insert id="insertHashtag" parameterType="String">
		insert into Hashtag_Detail(category_no,hashtag_content,register_datetime,register_id) values(#{category_no},#{hashtag},now(),"test")
	</insert>
</mapper>