<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.josam.clink.account.AccountMapper">

	<insert id="registAccount"
		parameterType="com.josam.clink.account.AccountVO">
		INSERT INTO Account (
		`userNo`, `accountNumber`, `accountBalance`, `accountType`, `bankType`

		) VALUES (
		#{userNo}, #{accountNumber}, #{accountBalance}, #{accountType}, #{bankType}
		)
	</insert>
	
	<select id="checkAccount" parameterType="com.josam.clink.account.AccountVO" resultType="com.josam.clink.account.AccountVO">
	SELECT * FROM Account WHERE (accountType = 1 OR accountType = 2) AND userNo=${userNo};
	</select>
</mapper>
