<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.josam.clink.communityPost.CommunityPostMapper">
	<select id="list">
		select * from Board_Detail order by board_like_count desc Limit 5
	</select>
	<select id="freeList">
		select * from Board_Detail where category_no=1 order by board_like_count desc Limit 5
	</select>
	<select id="infoList">
		select * from Board_Detail where category_no=2 order by board_like_count desc Limit 5
	</select>
	<select id="annList">
		select * from Board_Detail where category_no=3 order by board_like_count desc Limit 5
	</select>
	<select id="testss">
		select user_id from User_Master where user_no="0";
	</select>
	<select id="getPostsbyRecent" parameterType="STRING" resultType="com.josam.clink.communityPost.CommunityPostVO">
		SELECT *
		FROM Board_Detail
		WHERE category_no=#{category_no} and hashtag_content like CONCAT('%', #{hashtag}, '%')
		AND board_delete_yn ='n'
		ORDER BY register_datetime DESC;
	</select>
	<select id="getPostsbyLike" parameterType="STRING" resultType="com.josam.clink.communityPost.CommunityPostVO">
		SELECT *
		FROM Board_Detail
		WHERE category_no=#{category_no} and hashtag_content like CONCAT('%', #{hashtag}, '%')
		AND board_delete_yn ='n'
		ORDER BY board_like_count DESC, register_datetime DESC;
	</select>
	<select id="getBestPosts" parameterType="STRING" resultType="com.josam.clink.communityPost.CommunityPostVO">
		SELECT *
		FROM Board_Detail
		WHERE board_like_count >= 10
		AND board_delete_yn ='n'
		ORDER BY register_datetime DESC;
	</select>
	<select id="getHashtag">
		SELECT hashtag_content
		FROM clink1.Hashtag_Detail
		where category_no=#{category_no}
		group by hashtag_content
		order by count(hashtag_content) desc Limit 3;
	</select>
</mapper>
